.navbar {
  display: flex;
  justify-content: space-between;
  padding: 16px 40px;
  background: #4f46e5;
  color: white;
}

.navbar ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.logo {
  font-size: 22px;
}

.navbar a:hover {
  color: #c7d2fe;
  transition: 0.3s;
}

